<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>



</head>
<body>
<style>
body {
 background-color:hsla(120,100%,25%,0.3);
}

h1{

 font-size: 40px;
}
#rcorners2 {
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px;
  width: 200px;
  height: 150px;
}
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
</style>
<center><h1>HII !!</h1></center>

<div class="container">
    <br>
    <div class="form-group row">
        <label class="col-sm-l col-form-label"></label>
        <center>
            <h3>Enter Nutrients</h3>
            </center>
    </div>

</div>
<center>
<p>Search Nutrient</p>
    </center>
<center>
    <label class="col-sm-2 col-form-label">search</label>
  <input type="text" placeholder="Search.." name="search2">
    <button type="submit"><i class="fa fa-search"></i>Search</button>

    </div>
</div>
    </center>




<div class="form-group row">
    <center>
    <label class="col-sm-2 col-form-label">Name</label>
    <input type="text" placeholder="Enter name" name="Name" required>
    </center>
    <div class="col-sm-4">

    </div>
</div>
<div class="form-group row">
    <center>
    <label class="col-sm-1 col-form-label"></label>
        <button type="submit" class="btn btn-primary">submit</button>
    </center>
    <div class="col-sm-4">

    </div>
    </div>
</div>
</form>
</body>
</html>